<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<!--base href="/"-->
		<title>BAPA</title>
		<link href="/images/favicon.png" rel="icon" type="image/x-icon" />
		
		
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/scripts/css/materialize.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="scripts/angular-ui-router.min.js"></script>
		
		<link rel="stylesheet" href="/css/estilo.css">	
		
		<script src='/js/app.js'></script>	
		<script src="/js/controllers/indexController.js"></script>
		<script src="/js/controllers/mainController.js"></script>		
		<script src="/js/controllers/createPostController.js"></script>
		<script src="/js/controllers/editPostController.js"></script>
		<script src="/js/controllers/readPostController.js"></script>
		<script src="/js/controllers/searchController.js"></script>
		<script src="/js/controllers/resultsController.js"></script>
		<script src="/js/controllers/moderationController.js"></script>
		<script src="/js/controllers/errorController.js"></script>
		<script src="/js/controllers/helpController.js"></script>
		<script src="/js/factories/userFactory.js"></script>
		<script src="/js/factories/postFactory.js"></script>
		<script src="/js/factories/geolocationSvc.js"></script>
	
	</head>
	
	<body>

		<header>			
			
			<nav class="light-green darken-4" ng-controller="indexController">
				<div class="nav-wrapper">
					<a href="/" class="brand-logo left">BAPA</a>

					<ul id="nav-mobile" class="right hide-on-small-only">
						<li ng-show="!logged">
							<a href="/auth/facebook">
								<i class="material-icons right">perm_identity</i>
								Identificarse con Facebook
							</a>
						</li>
						<li ng-show="logged">
							<a href="#!">
								<i class="material-icons right">perm_identity</i>
								{{user.name}}
							</a>
						</li>
						<span ng-if="user.access_level >= 2">
							<li>
								<a ng-click="goModeration()">
									<i class="material-icons right">supervisor_account</i>						
									Moderación
								</a>
							</li>
						</span>
						<li ng-show="logged">
							<a ng-click="logoutUser()">
								<i class="material-icons right">directions_walk</i>
								Salir
							</a>
						</li>          
					</ul>
					<!--ul id="nav-mobile" class="right hide-on-med-and-up"-->
					<ul id="slide-out" class="side-nav">
						<li ng-show="!logged">				
							<a href="/auth/facebook"> 
								Identificarse
							</a>
						</li>
						<li ng-show="logged">				
							<a href="#!">
								{{user.name}}
							</a>
						</li>
						<span ng-if="user.access_level >= 2">
							<li><a ng-click="goModeration()">
									Moderación
								</a>
							</li>
						</span>
						<li ng-show="logged">				
							<a ng-click="logoutUser()">
								Salir
							</a>
						</li>
					</ul>        
					<a href="#" class="button-collapse right hide-on-med-and-up" data-activates="slide-out" data-sidenav="left" data-menuwidth="200" data-closeonclick="true">
						<i class="mdi-navigation-menu material-icons">menu</i>
					</a>
				</div>
			</nav>
			
		</header>    
	  
		<main>		
			<ui-view></ui-view>
		</main> 
		
		<footer class="page-footer light-green darken-4" ng-controller="indexController">
			<div class="footer-copyright">
				<div class="container center-align">
					<a class="white-text" href="" ng-click="goHelp()">Ayuda</a>
					-
					<a class="white-text" href="https://www.facebook.com/BAPA-420084234990458/" target="_blank">Contacto</a>
				</div>
			</div>
		</footer>
		
		<script type="text/javascript" src="/scripts/js/materialize.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script>	
		<script type="text/javascript" src="/scripts/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
		<script type="text/javascript" src="/scripts/ng-file-upload.js"></script>	
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
		<script type="text/javascript" src="/scripts/angular-image-cropper.js"></script>
		<script type="text/javascript" src="/scripts/angular-images-resizer.js"></script>
		
	</body>
 
</html>
