<div class="container">

	<span ng-show="user.access_level >= 1">
	
		<h1 class="thin center-align">Agregar</h1>
		<form ng-submit="addPost()" id="formAdd" name="formAdd" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input disabled ng-value="geolocationString" id="geolocation" type="text" class="validate">
					<label for="geolocation">Ubicación</label>
				</div>
				<div class="input-field col s6">
					<input disabled ng-value="user.name" id="author" type="text" class="validate">
					<label for="author">Autor</label>				
				</div>
			</div>
			<div class="row">						
				<div class="section col s6">
					<div input-field>
						<select ng-model="publicationType.value" material-select name="publicationType">
							<option ng-repeat="value in publicationType.choices">{{value}}</option>
						</select>
						<label> Tipo de publicación </label>
					</div>
				</div>
				<div class="section col s6">
					<div input-field>
						<select ng-model="animalType.value" material-select>
							<option ng-repeat="value in animalType.choices">{{value}}</option>
						</select>
						<label> Tipo de animal </label>
					</div>
				</div>			
			</div>
			<div class="row">			
					<div class="input-field col s6">
						<p>Sexo</p>
						<input class="with-gap" ng-model="sex.name" name="sex" type="radio" id="male" value="male"/>
						<label for="male">Macho</label>
						<input class="with-gap" ng-model="sex.name" name="sex" type="radio" id="female" value="female"/>
						<label for="female">Hembra</label>											
					</div>
					
					<div class="input-field col s6">
						<p>Cargar imagen</p>
						<div class="btn light-green accent-4 col s12 m6 l6" ngf-select ng-model="file" name="file" 
						ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB"					
						ngf-min-height="100">Seleccionar</div>
					</div>				
					<!--div class="row">
						Link externo:			
						<div class="input-field col s12">
							<input placeholder="Ingrese http://..." type="text" class="validate">					
						</div>
					</div-->
			</div>		
			
			<div class="row">							
				
				<div class="col s6">
					<div class="row">			
						<div class="section col s10">
							<div input-field>
								<select ng-model="animalSize.value" material-select>
									<option ng-repeat="value in animalSize.choices">{{value}}</option>
								</select>
								<label> Tamaño </label>
							</div>
						</div>			
					</div>
					<div class="row">			
						<div class="section col s10">
							<div input-field>
								<select ng-model="animalFur.value" material-select>
									<option ng-repeat="value in animalFur.choices">{{value}}</option>
								</select>
								<label> Pelaje </label>
							</div>
						</div>			
					</div>
					<div class="row">			
						<div class="section col s10">
							<div input-field>
								<select ng-model="animalNumberColors.value" material-select>
									<option ng-repeat="value in animalNumberColors.choices">{{value}}</option>
								</select>
								<label> Número de colores </label>
							</div>
						</div>			
					</div>		
				</div>
				<div class="col s6">
					<!--img class="responsive-img" ngf-thumbnail="file || '/images/favicon.png'"
					ngf-resize="{width: 1024, height: 1024, quality: 1.0}-->
					<div ng-if="!file">
						<img class="responsive-img" src='/images/favicon.png'>					
					</div>
					<div ng-if="file">
						<image-cropper image-url="{{file.$ngfBlobUrl}}"
							width="1024"
							height="1024"
							show-controls="false"
							fit-on-init="true"
							center-on-init="true"
							api="cropperApi"
							crop-callback="updateResultImage"
							check-cross-origin="false"
							zoom-step="0.1"
							action-labels="myButtonLabelsObject"
						></image-cropper>					
					</div>
				</div>
				
			</div>
			<div class="row" ng-if="animalNumberColors.value >= 1">			
				<div class="section col s4" ng-if="animalNumberColors.value >= 1">
					<div input-field>
						<select ng-model="animalColors1.value" material-select>
							<option ng-repeat="value in animalColors1.choices">{{value}}</option>
						</select>
						<label> Color primario </label>
					</div>
				</div>			
				<div class="section col s4" ng-if="animalNumberColors.value >= 2">
					<div input-field>
						<select ng-model="animalColors2.value" material-select>
							<option ng-repeat="value in animalColors2.choices">{{value}}</option>
						</select>
						<label> Color secundario </label>
					</div>
				</div>
				<div class="section col s4" ng-if="animalNumberColors.value == 3">
					<div input-field>
						<select ng-model="animalColors3.value" material-select>
							<option ng-repeat="value in animalColors3.choices">{{value}}</option>
						</select>
						<label> Color terciario </label>
					</div>
				</div>
			</div>
			<div class="row">
				<div input-field class="col s12">
					<textarea ng-model="description.aditionalDescription" class="materialize-textarea" length="100"></textarea>
					<label>Descripción adicional</label>
				</div>			
			</div>	
			<div class="row">
				<div class="input-field col s12 center-align">
					<button type="submit" form="formAdd" class="btn light-green accent-4">Agregar</button>
				</div>
			</div>
		</form>
		
	</span>	
	
</div>