<div class="container">

	<h2 class="center-align"> Se produjo un error al procesar la consulta </h2>
	
	<div class="center-align">
		<a ng-click="goMenu()" class="waves-effect light-green accent-4 btn">Volver a menu</a>
	</div>

</div>