<div class="container">

	<h1 class="thin center-align">
		Contenido
	</h1>
	
	<ul>
		<li> 
			<a href="#/help/#menu"> 
				Menú principal 
			</a> 
		</li>
		<li> 
			<a href="#/help/#addEdit"> 
				Agregar / editar publicación 
			</a> 
		</li>
		<li>
			<a href="#/help/#search"> 
				Buscar
			</a>
		</li>
		<li>
			<a href="#/help/#contact">
				Contacto 
			</a>
		</li>
	</ul>
	
	<section id="menu">
	
		<h2 class="thin center-align">
			Menú principal
		</h2>
		
		<p align="justify">
			En esta página aparecen las últimas publicaciones creadas por los usuarios, 
			comenzando desde las más recientes y siguiendo hacia las más antiguas.
			</br>
			Las publicaciones se presentan como tarjetas clickeables: Al hacer click sobre la imagen es posible ver mayor detalle sobre la publicación.
		</p>
			
		<div class="center-align">
			<img class="responsive-img" src="/images/card_image_info.jpg"></img>
		</div>
		
		<p align="justify">
			En la tarjeta se encuentran las acciones disponibles sobre ellas:
		</p>
			
		<p align="justify">
			<div class="btn-floating btn-small waves-effect waves-light light-green accent-4">
				<i class="material-icons">library_books</i>			
			</div>	
			Abre la publicación en una nueva pestaña.
		</p>
			
		<p align="justify">
			<div class="btn-floating btn-small waves-effect waves-light light-green accent-4">
				<i class="material-icons">mode_edit</i>
			</div>
			Permite editar la publicación.
		</p>
			
		<p align="justify">
			<div class="btn-floating btn-small waves-effect waves-light light-green accent-4">
				<i class="material-icons">delete</i>				
			</div>
			Elimina la publicación.
		</p>
		
		<p align="justify">
			<div class="btn-floating btn-small waves-effect waves-light light-green accent-4">
				<i class="material-icons">error</i>								
			</div>
			Reporta la publicación para su revisión.
		</p>
	
	</section>
	
	<section id="addEdit">
	
		<h2 class="thin center-align">
			Agregar / editar publicación
		</h2>

		<p align="justify">
			Todos los campos son obligatorios, incluida la imagen.
		</p>
		
		<p align="justify">
			Se recomienda que la imagen sea cuadrada de 1024x1024 pixeles. De no ser cuadrada, se obtendra <b>automaticamente</b>
			un recorte del centro de la imagen.
		</p>
		
		<p align="justify">
			Se debe tener en cuenta que el orden de los colores <b> sí </b> es importante:
			</br>
			<ul>
				<li> 
					<b> Color primario: </b>
					Indica el color que predomina sobre el animal.
				</li>
				<li> 
					<b> Color secundario: </b>
					Indica el segundo color de mayor predominancia.
				</li>
				<li> 
					<b> Color terciario: </b>
					Indica el tercer color de mayor predominancia, menor al secundario.
				</li>
			</ul>
		</p>
		
		<p align="justify">				
			La descripción adicional está limitada a 100 caracteres, por lo que debe ser breve.
		</p>
		<p align="justify">
			Cada publicación quedará vinculada al perfil de facebook de la persona que la originó, 
			permitiendo contactar directamente a esta persona.
		</p>		
	
	</section>
	
	<section id="search">
	
		<h2 class="thin center-align">
			Buscar
		</h2>
		
		<p align="justify">
			A diferencia de la creación y edición de publicaciones, al buscar no es necesario completar los campos de búsqueda, salvo por el sexo
			que tiene un valor por defecto.			
		</p>
		
		<p align="justify">
			Dejar un campo de busqueda vacío implica que, para ese campo, cualquier valor es válido.
		</p>
		
		<p align="justify">
			Por ejemplo, para buscar por color:
			
			<p align="justify">
			<b> Caso 1:</b>
			Si se selecciona <i>número de colores</i> "1" y se deja <i>color primario</i> sin seleccionar, se obtienen todos los animales
			(macho o hembra, según esté seleccionado) que solo tengan un color, cualquiera sea.
			</p>
			<p align="justify">
			<b> Caso 2: </b>
			Si se selecciona <i>numero de colores</i> "3", se selecciona <i>color primario</i> "Blanco" y el resto de los colores sin seleccionar,
			se obtienen todos los animales (macho o hembra, según esté seleccionado) que tengan un <i>color primario</i> "Blanco" y otros dos colores
			cualquiera sean.
			</p>
			<p align="justify">
			<b> Caso 3: </b>
			Si se selecciona <i>número de colores</i> "3", se selecciona <i>color primario</i> "Blanco", <i>secundario</i> "Negro" y 
			<i>terciario</i> "Otro", se obtienen todos los animales (macho o hembra, según esté seleccionado) 
			que tengan un <i>color primario</i> "Blanco", <i>secundario</i> "Negro" y <i>terciario</i> "Otro".
			</p>
		</p>
	
	</section>
	
	<section id="contact">
	
		<h2 class="thin center-align">
			Contacto
		</h2>
		
		<p align="justify">
			Si la ayuda no fue útil, crees que se puede mejorar o tenés cualquier otra duda, podés ponerte contactarte a través de 
			<a class="blue-text" href="https://www.facebook.com/BAPA-420084234990458/" target="_blank">Facebook</a>.
		</p>
	
	</section>

</div>