<div class="container">

	<div class="center-align row">
		</br>
		<p class="condensed light geolocationStyle"><b>Ubicación:</b> {{geolocationString}}</p>
	</div>

	<div class="center-align row">
		<span ng-if="user.access_level >= 1">
			<a ng-click="goEdition()" class="waves-effect light-green accent-4 btn"><i class="material-icons left">add</i>Agregar</a>
		</span>
		<a ng-click="goSearch()" class="waves-effect light-green accent-4 btn"><i class="material-icons left">search</i>Buscar</a>		
	</div>
	
	<span ng-if="user">
		<div class="center-align">
			<a ng-click="goHelp()" class="waves-effect light-green accent-4 btn"><i class="material-icons left">help_outline</i>Ayuda</a>
		</div>
	</span>
	
	<div class="row">
		<div class="col s12 m12 l12">
				<label>Filtrado rápido: <input ng-model="searchText"></label>
		</div>
	</div>	
	
	<div class="row">
		<div class="col s12 m4 l4" ng-repeat="post in posts | filter:searchText" >
			<div class="card hoverable">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" ng-src="{{post.thumbnailURL}}">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">
						<h5 class="regular center-align">
							<b>{{post.publicationType}}</b>
						</h5>						
						<h6 class="regular center-align">
							 {{post.animalType}}
						</h6>
						<!--i class="material-icons right">more_vert</i-->
					</span>
					<div class="row center-align">
						<a tooltipped class="btn-floating btn-small waves-effect waves-light light-green accent-4" href="#/posts/{{post._id}}" target="_blank" data-position="bottom" data-delay="50" data-tooltip="Ver más">
							<i class="material-icons">library_books</i>
						</a>					
						<span ng-if="user.username == post.user.username && user.access_level >= 1">
							<a tooltipped class="btn-floating btn-small waves-effect waves-light light-green accent-4" href="#/posts/e/{{post._id}}" data-position="bottom" data-delay="50" data-tooltip="Editar">
								<i class="material-icons">mode_edit</i>
							</a>
							<a tooltipped class="btn-floating btn-small waves-effect waves-light light-green accent-4" ng-click="delete(post)" data-position="bottom" data-delay="50" data-tooltip="Eliminar">
								<i class="material-icons">delete</i>
							</a>
						</span>
						<span ng-if="user.access_level >= 1">
							<a tooltipped class="btn-floating btn-small waves-effect waves-light light-green accent-4" ng-click="report(post)" data-position="bottom" data-delay="50" data-tooltip="Reportar">
								<i class="material-icons">error</i>
							</a>
						</span>
					</div>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">
						<h6>
							<b>Autor:</b>
							<a href="http://facebook.com/{{post.user.username}}">
								<div class="chip">
									<img ng-src="{{post.user.pictureURL}}" alt="Contact Person">
									{{post.user.name}}
								</div>
							</a>
						</h6>
						<i class="material-icons right">close</i>
					</span>
					<p class="wrapping">
						<b>Sexo:</b>
							<span ng-if="post.sex == 'male'">
								</br>
								Macho
							</span>
							<span ng-if="post.sex == 'female'">
								</br>
								Hembra
							</span>
						</br>						
						<b>Colores: </b>
							<span ng-if="post.color1">
								</br>
								{{post.color1}}
							</span>
							<span ng-if="post.color2">
								</br>
								{{post.color2}}
							</span>
							<span ng-if="post.color3">
								</br>
								{{post.color3}}
							</span>							
						</br>
						<b>Tamaño:</b> 
							</br>
							{{post.animalSize}}
						</br>
						<b>Pelaje:</b> 
							</br>
							{{post.animalFur}}
						</br>
						<b>Fecha de creación:</b> 
							</br>
							{{ post.creationDate | date:'yyyy-MM-dd'}}
						</br>
						<span ng-if="post.aditionalDescription">
							<b>Descripción adicional:</b> 
								</br>
								{{post.aditionalDescription}}
						</span>
						<span ng-if="user.access_level >= 3">
							<span ng-if="post.aditionalDescription"> 
								</br>
							</span>
							<b>Username:</b> 
								</br>
								{{post.user.username}}
						</span>
					</p>
				</div>
			</div>
			<span ng-if="($index + 1) == posts.length" scroll-fire="loadMorePosts()" offset="-500"></span>
		</div>				
	</div>	
	
</div>