<div class="container">
	
	<span ng-if="(user.access_level >= 3)">
	
		<h3 class="center-align"> Admin access </h3>
	
		<div class="row valign-wrapper">
			<div class="col s12 m9 l9 valign">
				<div input-field>
					<input type="text" ng-model="userInfo.username" length="30">
					<label>Username</label>
				</div>
			</div>
			<div class="col s12 m3 l3 valign">
					<a ng-click="getUserData(userInfo)" class="waves-effect light-green accent-4 btn"><i class="material-icons left">file_download</i>Obtener datos</a>
			</div>			
		</div>

		<span ng-show="userObserved">
		
			<ul class="collection">
				<li class="collection-item avatar">
					<img ng-src="{{userObserved.pictureURL}}" alt="" class="circle">
					<span class="title">{{userObserved.name}}</span>
					<p>
						<span ng-if="user.access_level == 5">
							<b>_id :</b> {{userObserved._id}}
						</span>
						</br>
						<b>username:</b> {{userObserved.username}}
					</p>					
				</li>    
			</ul>
			
			<div class="row">
				<b>Seleccionar acceso:</b>
				<form action="#">
					<p>
					  <input class="with-gap" name="access_level" type="radio" id="banned" ng-model="target.access_level" value="0" />
					  <label for="banned">Baneado</label>
					</p>
					<p>
					  <input class="with-gap" name="access_level" type="radio" id="normal_access" ng-model="target.access_level" value="1" />
					  <label for="normal_access">Acceso normal</label>
					</p>
					<span ng-if="user.access_level >= 4">
						<p>
						  <input class="with-gap" name="access_level" type="radio" id="mod_access" ng-model="target.access_level" value="2" />
						  <label for="mod_access">Acceso Mod</label>
						</p>
						<p>
						  <input class="with-gap" name="access_level" type="radio" id="superMod_access" ng-model="target.access_level" value="3" />
						  <label for="superMod_access">Acceso SuperMod</label>
						</p>
					</span>
					<span ng-if="user.access_level == 5">
						<p>
						  <input class="with-gap" name="access_level" type="radio" id="semiAdmin_access" ng-model="target.access_level" value="4" />
						  <label for="semiAdmin_access">Acceso SemiAdmin</label>
						</p>
					</span>
										
					<div class="center-align">
						<a class="waves-effect light-green accent-4 btn" ng-click="setAccessLevel(userObserved, target)">Setear</a>
					</div>
				</form>
			</div>			
		
		</span>
	
	</span>
	
	<span ng-if="(user.access_level >= 2)">		
		
		<h3 class="center-align"> Mod access </h3>
	
		<div class="row">
			<div class="col s12 m12 l12">
					<label>Filtrado rápido: <input ng-model="searchText"></label>
			</div>
		</div>
		
		<div class="row">
			<div class="col s12 m4 l4" ng-repeat="post in posts | filter:searchText" >
				<div class="card hoverable">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" ng-src="{{post.thumbnailURL}}">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">
							<h5 class="regular center-align">
								<b>{{post.publicationType}}</b>
							</h5>						
							<h6 class="regular center-align">
								 {{post.animalType}}
							</h6>
							<!--i class="material-icons right">more_vert</i-->
						</span>
						<div class="row center-align">
							<a tooltipped class="btn-floating btn-small waves-effect waves-light light-green accent-4" href="#/posts/{{post._id}}" target="_blank" data-position="bottom" data-delay="50" data-tooltip="Ver más">
								<i class="material-icons">library_books</i>
							</a>
							<a tooltipped class="btn-floating btn-small waves-effect waves-light light-green accent-4" ng-click="unreport(post)" data-position="bottom" data-delay="50" data-tooltip="Aprobar">
								<i class="material-icons">done</i>
							</a>
							<a tooltipped class="btn-floating btn-small waves-effect waves-light light-green accent-4" ng-click="delete(post)" data-position="bottom" data-delay="50" data-tooltip="Eliminar">
								<i class="material-icons">delete</i>
							</a>
						</div>	
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">
							<h6>
								<b>Autor:</b>
								<a href="http://facebook.com/{{post.user.username}}">
									<div class="chip">
										<img ng-src="{{post.user.pictureURL}}" alt="Contact Person">
										{{post.user.name}}
									</div>
								</a>
							</h6>
							<i class="material-icons right">close</i>
						</span>
						<p class="wrapping">
							<b>Sexo:</b>								
								<span ng-if="post.sex == 'male'">
									</br>
									Macho
								</span>
								<span ng-if="post.sex == 'female'">
									</br>
									Hembra
								</span>
							</br>						
							<b>Colores: </b>								
								<span ng-if="post.color1">
									</br>
									{{post.color1}}
								</span>
								<span ng-if="post.color2">
									</br>
									{{post.color2}}
								</span>
								<span ng-if="post.color3">
									</br>
									{{post.color3}}
								</span>							
							</br>
							<b>Tamaño:</b>
								</br>
								{{post.animalSize}}
							</br>
							<b>Pelaje:</b> 
								</br>
								{{post.animalFur}}
							</br>
							<b>Fecha de creación:</b>
								</br>
								{{ post.creationDate | date:'yyyy-MM-dd'}}
							</br>
							<span ng-if="post.aditionalDescription">
								<b>Descripción adicional:</b> 
									</br>
									{{post.aditionalDescription}}
							</span>
							<span ng-if="user.access_level >= 3">
								<span ng-if="post.aditionalDescription"> 
									</br>
								</span>
								<b>Username:</b> 
								</br>
								{{post.user.username}}
							</span>
						</p>
					</div>
				</div>
				<span ng-if="($index + 1) == posts.length" scroll-fire="loadMorePosts()" offset="-500"></span>
			</div>				
		</div>
		
	</span>

</div>