<div class="container">
	
	<div class="row">		
		
		<div class="col s12 m12 l12">
			<div class="card">
				<div class="card-content">
					<div class="center-align">
						<span class="card-title">
							<b>
								{{post.publicationType}} 
								~
								{{post.animalType}}
							</b>
						</span>
					</div>
					<p class="wrapping">
						<b>Sexo: </b>
							<span ng-if="post.sex == 'male'">
								</br>
								Macho
							</span>
							<span ng-if="post.sex == 'female'">
								</br>
								Hembra
							</span>
						</br>						
						<b>Colores: </b>
							<span ng-if="post.color1">
								</br>
								{{post.color1}}
							</span>
							<span ng-if="post.color2">
								</br>
								{{post.color2}}
							</span>
							<span ng-if="post.color3">
								</br>
								{{post.color3}}
							</span>							
						</br>
						<b>Tamaño:</b> 
							</br>
							{{post.animalSize}}
						</br>
						<b>Pelaje:</b> 
							</br>
							{{post.animalFur}}
						</br>
						<b>Fecha de creacion:</b> 
							</br>
							{{ post.creationDate | date:'yyyy-MM-dd'}}
						</br>
						<span ng-if="post.aditionalDescription">
							<b>Descripción adicional:</b> 
								</br>
								{{post.aditionalDescription}}
						</span>
						<span ng-if="user.access_level >= 3">
							<span ng-if="post.aditionalDescription"> 
								</br>
							</span>
							<b>Username:</b> 
								</br>
								{{post.user.username}}
						</span>
					</p>
				</div>
				<div class="card-action">
					<b>Autor:</b>
					<a href="http://facebook.com/{{post.user.username}}">
						<div class="chip">
							<img ng-src="{{post.user.pictureURL}}" alt="Contact Person">
							{{post.user.name}}
						</div>
					</a>
				</div>
			</div>	
		</div>
		
		<div class="col s12 m12 l12">	
			<img class="responsive-img valign" ng-src="{{post.highResURL}}">			
		</div>
	</div>
	
	<div class="center-align row">
		<span ng-if="user.username == post.user.username && user.access_level >= 1">
			<a class="waves-effect light-green accent-4 btn" href="#/posts/e/{{post._id}}">
				Editar
			</a>
			<a class="waves-effect light-green accent-4 btn" ng-click="delete(post)">
				Eliminar
			</a>
		</span>
	</div>
	
</div>