<div class="container">
	<h1 class="thin center-align">Buscar</h1>
	<form ng-submit="searchPosts()" id="formSearch" name="formSearch" class="col s12">
		<div class="row">
			<div class="input-field col s6">
				<input disabled ng-value="geolocationString" id="geolocation" type="text" class="validate">
				<label for="geolocation">Ubicación</label>				
			</div>			
		</div>
		<div class="row">						
			<div class="section col s6">
				<div input-field>
                    <select ng-model="publicationType.value" material-select>
                        <option ng-repeat="value in publicationType.choices">{{value}}</option>
                    </select>
					<label> Tipo de publicación </label>
                </div>
			</div>
			<div class="section col s6">
				<div input-field>
                    <select ng-model="animalType.value" material-select>
                        <option ng-repeat="value in animalType.choices">{{value}}</option>
                    </select>
					<label> Tipo de animal </label>
                </div>
			</div>			
		</div>
			
		<div class="row">			
			<div class="input-field col s6">
				<p>Sexo:</p>					
				<input class="with-gap" ng-model="sex.name" name="sex" type="radio" id="male" value="male"/>
				<label for="male">Macho</label>
				<input class="with-gap" ng-model="sex.name" name="sex" type="radio" id="female" value="female"/>
				<label for="female">Hembra</label>											
			</div>
		</div>						
		
		<div class="row">			
			<div class="section col s6">
				<div input-field>
					<select ng-model="animalSize.value" material-select>
						<option ng-repeat="value in animalSize.choices">{{value}}</option>
					</select>
					<label> Tamaño </label>
				</div>
			</div>			
		
			<div class="section col s6">
				<div input-field>
					<select ng-model="animalFur.value" material-select>
						<option ng-repeat="value in animalFur.choices">{{value}}</option>
					</select>
					<label> Pelaje </label>
				</div>
			</div>			
		</div>
		<div class="row">			
			<div class="section col s6">
				<div input-field>
					<select ng-model="animalNumberColors.value" material-select>
						<option ng-repeat="value in animalNumberColors.choices">{{value}}</option>
					</select>
					<label> Número de colores </label>
				</div>
			</div>			
		</div>
		
		<div class="row" ng-if="animalNumberColors.value >= 1">			
			<div class="section col s4" ng-if="animalNumberColors.value >= 1">
				<div input-field>
                    <select ng-model="animalColors1.value" material-select>
                        <option ng-repeat="value in animalColors1.choices">{{value}}</option>
                    </select>
					<label> Color primario </label>
                </div>
			</div>			
			<div class="section col s4" ng-if="animalNumberColors.value >= 2">
				<div input-field>
                    <select ng-model="animalColors2.value" material-select>
                        <option ng-repeat="value in animalColors2.choices">{{value}}</option>
                    </select>
					<label> Color secundario </label>
                </div>
			</div>
			<div class="section col s4" ng-if="animalNumberColors.value == 3">
				<div input-field>
                    <select ng-model="animalColors3.value" material-select>
                        <option ng-repeat="value in animalColors3.choices">{{value}}</option>
                    </select>
					<label> Color terciario </label>
                </div>
			</div>
		</div>
		
		<div class="row">
			<div class="input-field col s12 center-align">
				<button type="submit" form="formSearch" class="btn light-green accent-4">Buscar</button>
			</div>
		</div>
	</form>
</div>