a.no-style{	
	text-decoration: none;
}
p.geolocationStyle{
	font-size:20px;
}
h1.cardTitle{
	font-size:20px;
}
p.wrapping{
	word-wrap: break-word;
}

/** FORMS **/

	/** INPUT FIELDS **/

	input:focus + label {
		color: #64dd17 !important;
	}

	input:focus {
		border-bottom: 1px solid #64dd17 !important;
		box-shadow: 0 1px 0 0 #64dd17 !important
	}
   
   /** RADIO BUTTONS **/
   
	[type="radio"]:checked + label:after,
	[type="radio"].with-gap:checked + label:before,
	[type="radio"].with-gap:checked + label:after {
		border: 2px solid #64dd17;
	}

	[type="radio"]:checked + label:after,
	[type="radio"].with-gap:checked + label:after {
		background-color: #64dd17;
	}
	
	/** TEXT AREA **/
   
	textarea.materialize-textarea:focus:not([readonly]) {
		border-bottom: 1px solid #64dd17;
		box-shadow: 0 1px 0 0 #64dd17;
	}
	
	textarea.materialize-textarea:focus:not([readonly]) + label {
		color: #64dd17;
	}
	
	/** SELECT OPTIONS **/
      
	ul.dropdown-content.select-dropdown li span {
		color: #64dd17; /* no need for !important :) */
	}

/** END FORMS **/

/** STICKY FOOTER **/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/** END STICKY FOOTER **/